<div id="navbar_area" class="navbar navbar-static">
  <div class="container">
    <ul class="nav pull-right" role="navigation">
      <li class="dropdown header-li">
        <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
          <%= I18n.t "navigation_text" %>
          <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
          <%= generate_navbar_item life_posts_path, I18n.t("life_text") %>
          <%= generate_navbar_item blogs_path, I18n.t("work_text") %>
          <%= generate_navbar_item tourist_posts_path, I18n.t("tourist_text") %>
          <%= generate_navbar_item '#', I18n.t("research_text") %>
        </ul>
      </li>
      <li class="dropdown header-li">
        <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown"><%= current_user_name %>
          <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
          <% if current_user.present? %>
              <%= generate_navbar_item user_url(current_user), I18n.t("show_btn") %>
              <% if current_is_admin? %>
                  <%= generate_navbar_item users_url, I18n.t("user_index_title") %>
              <% end %>
              <%= generate_navbar_item edit_user_url(current_user), I18n.t("setting") %>
              <%= generate_navbar_item users_logout_url, I18n.t("sign_out") %>
          <% else %>
              <%= generate_navbar_item login_url, I18n.t("visitor_login") %>
              <%= generate_navbar_item new_user_url, I18n.t("visitor_signin") %>
          <% end %>
        </ul>
      </li>
      <li class="header-li" style="display: none">
        <%= select_tag "i18n_locale", options_for_select(
                {"English" => "en", "中文" => "zh"}, session[:default_locale]) %>
      </li>
    </ul>
  </div>
</div>

<script>
    $(function () {
        fans_home.dashboard.init_navigation_locale_change();
    })
</script>