<!-- main board -->
<div class="main_board">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div id="board_detail_show" class="span12">
          <div class="detail_index">
            <%= render 'static_page/default_board' %>
          </div>
          <div class="detail_life hero-unit">
            <%= render 'static_page/item_detail' %>
          </div>
          <div class="detail_work hero-unit">
          </div>
          <div class="detail_tourist hero-unit">
          </div>
          <div class="detail_research hero-unit">
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item_house" data-detail_panel="detail_life">
          <%= render partial: "each_item", locals: {total_count: 33,
                                                    item_name: I18n.t("life_text"),
                                                    total_unit: "Posts"} %>
        </div>
        <div class="item_work" data-detail_panel="detail_work">
          <%= render partial: "each_item", locals: {total_count: 33,
                                                    item_name: I18n.t("work_text"),
                                                    total_unit: "Posts"} %>
        </div>
        <div class="item_happy" data-detail_panel="detail_tourist">
          <%= render partial: "each_item", locals: {total_count: 33,
                                                    item_name: I18n.t("tourist_text"),
                                                    total_unit: "Posts"} %>
        </div>
        <div class="item_research" data-detail_panel="detail_research">
          <%= render partial: "each_item", locals: {total_count: 33,
                                                    item_name: I18n.t("research_text"),
                                                    total_unit: "Posts"} %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "static_page/foot" %>


<script type="text/javascript">
    $(document).ready(function () {
        fans_home.dashboard.init_dashboard();
    });
</script>