<%= javascript_include_tag 'markdown' %>
<%= javascript_include_tag 'bootstrap-markdown' %>
<%= javascript_include_tag 'bootstrap-markdown.zh' %>
<%= stylesheet_link_tag 'bootstrap-markdown.min' %>
<%= simple_form_for(@blog, :html => {:class => "form-horizontal", :role => "form"}) do |f| %>
    <% if @blog.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h4>

          <ul>
            <% @blog.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <%= f.input :title, :label => "标题", input_html: {class: 'full-input'} %>
    <%= f.label :username, :label => "内容" %>
    <%= f.text_area :body, class: 'full-text', rows: 30 %>
    <div class="text-center">
      <%= f.submit "保存", class: 'btn btn-success text-center' %>
      <%= link_to '返回', blogs_path, {class: "btn btn-default"} %>
    </div>
<% end %>

<script>
  $(function(){
      $("#blog_body").markdown({language:'zh'})
  })
</script>
