<%= javascript_include_tag 'blogs' %>

<%= stylesheet_link_tag 'bootstrap-markdown.min' %>
<%= bootstrap_form_for(@blog, :html => {:class => "form-horizontal", :role => "form"}) do |f| %>
    <% if @blog.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h4>

          <ul>
            <% @blog.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <%= f.text_field :title, :label => "标题", input_html: {class: 'full-input'} %>

    <%= f.text_field :avatar, :label => "上传封面",
                     :append=>link_to('选择图片', nil, id: 'add_cover')  %>

    <% if f.object.avatar %>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
              <%= image_tag f.object.avatar, id: "preview-avatar" %>
            </a>
          </div>
        </div>
    <% end %>

    <%= f.select :tags, ['ruby', 'rails', 'jquery'], {label: '标签'}, {multiple: true, id: 'blog_tags'} %>


    <%= f.text_area :body, :label => "内容", class: 'full-text', rows: 30 %>
    <div class="text-center">
      <%= f.submit "保存", class: 'btn btn-success text-center' %>
      <%= link_to '返回', blogs_path, {class: "btn btn-default"} %>
    </div>
<% end %>
<script>
  $(function(){
      $('#blog_tags').select2();
      $("#blog_body").markdown({language:'zh'});
      qiniu.initUploadImage('add_cover',$('#blog_avatar'), $('#preview-avatar'))
  })
</script>
