<div class="container">
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title text-center"><%= @blog.title %></h2>

        <p class="blog-post-meta">
          <a href="#"><%= @blog.user.user_name %></a> 写于
          <%= time_format(@blog.created_at) %>
          <% @blog.tags.each do |tag| %>
              <span class="label label-info"><%= tag %></span>
          <% end %>
          <%= delete_blog_tag(@blog) %>
        </p>
        <%= image_tag @blog.avatar, width: "100%" %>
      </div>
      <article>
        <%= sanitize @blog.html_body %>
      </article>

      <nav>
        <ul class="pager">
          <li><%= previous_tag(@blog) %></li>
          <li><%= next_tag(@blog) %></li>
        </ul>
      </nav>

    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module">
        <h4>其他文章</h4>
        <ol class="list-unstyled">
          <% @recommends.each do |blog| %>
              <li><%= link_to blog.title, blog_path(blog) %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>

