<div class="row tourist_new_edit_form">
  <div>
    <%= form_for(@tourist_post, :html => {:multipart => true}) do |f| %>
        <% if @tourist_post.errors.any? %>
            <div class="alert alert-warning">
              <button class="close" data-dismiss="alert" type="button"> ×</button>
              <ul>
                <% @tourist_post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="span10">
          <div class="field form-horizontal">

            <div class="control-group">
              <%= f.label :city, I18n.t("tourist_post.tourist_title"), {:class => "control-label"} %>
              <div class="controls">
                <%= f.text_field :city,
                                 {:id => "city_field",
                                  :class => "span6"} %>
                <span></span>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :coordinate, I18n.t("tourist_post.tourist_coordinate"), {:class => "control-label"} %>
              <div class="controls">
                <select id="province">
                  <option value="载入中"><%= I18n.t("tourist_post.tourist_loading") %> </option>
                </select> --
                <select id="city">
                  <option value="载入中"><%= I18n.t("tourist_post.tourist_loading") %> </option>
                </select>

                <span></span>
              </div>
              <div class="controls">
                <%= text_field_tag :detail_location, nil, :class => "input-small span2", :placeholder => I18n.t("tourist_post.detail_location") %>
                <%= button_tag I18n.t("tourist_post.detail_location"), {:type => 'button', :id => "generate_coordinate_btn"} %>
                <%= f.text_field :coordinate %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :time_area, I18n.t("tourist_post.time"), {:class => "control-label"} %>
              <div class="controls">
                <%= f.text_field :start_time %> ~
                <%= f.text_field :end_time %>
                <span></span>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :description, I18n.t("tourist_post.tourist_body"), {:class => "control-label"} %>
              <div class="controls">
                <%= f.text_area :description,
                                {:id => "description_field",
                                 :class => "span6",
                                 :rows => "3"} %>
                <span></span>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :avatar, I18n.t("life_post.life_picture"), {:class => "control-label"} %>
              <div class="controls">
                <%= file_field_tag :avatar,
                                   {:id => "avatar_field",
                                    :class => "span6",
                                    :rows => "8"} %>
                <span></span>
                <%= image_tag(@tourist_post.get_image_cover_url, size: "300") unless @tourist_post.new_record? %>
              </div>

            </div>

            <div class="span2 offset2">
              <%= f.submit(nil, {:class => "tourist_form_btn btn btn-primary span2 offset5"}) %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">

    //插件调用代码
    $(function () {
        var dateOption = {
            dateFormat: "yy/m/d"
        };
        $("#tourist_post_start_time").datepicker(dateOption);
        $("#tourist_post_end_time").datepicker(dateOption);
        fans_home.tourist_post.init_city_select();
        $("#generate_coordinate_btn").click(function () {
            $(this).attr('disabled', true);
            var region, address;
            if ($("#detail_location").val().length > 0) {
                region = $("#province").val() + $("#city").val();
                address = $("#detail_location").val();
            } else {
                region = $("#province").val();
                address = $("#city").val();
            }
            var data = {
                region: region,
                address: address,
                key: "OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77",
                output: "jsonp"
            };
            var options = {
                url: 'http://apis.map.qq.com/ws/geocoder/v1',
                type: 'GET',
                dataType: 'jsonp',
                data: data,
                success: function (data) {
                    if (data.status == 0) {
                        var coordinate = data.result.location.lng.toString() +
                                ' , ' + data.result.location.lat.toString();
                        $("#tourist_post_coordinate").val(coordinate);
                    } else {
                        alert(data.message)
                    }
                    $("#generate_coordinate_btn").removeAttr('disabled');
                }
            };
            $.ajax(options);
        });
    });

</script>
