<div class="container">
  <div class="hero-unit" id="tourist_detail_container">
    <p id="notice"><%= notice %></p>

    <div class="row">
      <h2 class="text-center span8 offset1"><%= I18n.t "life_post.life_edit" %></h2>
    </div>
    <%= render 'form' %>
    <div class="span2 offset2">
      <%= link_to I18n.t("show_btn"), @life_post, {class: "btn btn-primary"} %>
      <%= link_to I18n.t("back_btn"), tourist_posts_path, {class: "btn btn-primary"} %>
    </div>
  </div>
</div>


