<div class="container">
  <div class="hero-unit" id="user_edit_container">
    <div class="page-header">
      <h2><%= I18n.t "user_edit_title" %>
        <small><%= I18n.t "user_edit_sub_title" %></small>
      </h2>
    </div>

    <%= render 'form' %>

    <div class="row">
      <div class="span6 offset1">
        <div class="span2 offset2">
          <%= link_to I18n.t("show_btn"), @user, {class: "btn btn-default"} %>

          <%= link_to("返回", users_path, {class: "btn btn-default"}) if current_is_admin? %>
        </div>
      </div>
    </div>

  </div>
</div>

