<div class="">

  <div class="row" id="user_login_container">
    <div class="col-md-4 col-sm-offset-4 container jumbotron">
    <%= bootstrap_form_for "", {:id => "user_login_form",
                                :class => "form-horizontal"} do %>
          <h2 class="text-center">登录</h2>
        <div class="form-group">
          <%= label_tag "inputEmail",
                        I18n.t("user_index_email"),
                        {:class => "control-label"} %>
            <%= text_field_tag "user_email",
                               nil,
                               {:id => "inputEmail",
                                :class=>'form-control',
                                :placeholder => I18n.t("user_index_email")} %>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
          <%= label_tag "inputPassword",
                        I18n.t("user_index_password"),
                        {:class => "control-label"} %>
            <%= password_field_tag "user_password",
                                   nil,
                                   {:id => "inputPassword",
                                    :class=>'form-control',
                                    :placeholder => I18n.t("user_index_password")} %>
          <span class="text-danger"></span>
        </div>
          <div class="checkbox">
            <label>
              <%= check_box_tag "remember_me", "yes", false %><%= I18n.t("remember_me") %>
            </label>
          </div>
        <div class="form-group">
            <%= button_tag I18n.t("login_btn"),
                           {:class => "btn btn-primary btn-block",
                            :id => 'user_login_btn',
                            :name => nil,
                            :type => "button"} %>
        </div>
    <% end %>
    </div>
  </div>
</div>
<%= hidden_field_tag '', I18n.t("i18n_can_not_be_blank"), {:id => "i18n_can_not_be_blank"} %>

<%= hidden_field_tag '', @back_url, {:id => "login_success_jump_url"} %>
<script>
    $(document).ready(function () {
        fans_home.user_screen.init_user_login_screen();
    })
</script>