
<div class="container jumbotron">

  <div class="hero-unit" id="user_new_container">
    <% if current_is_login? %>
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>Warning!</strong> <%= I18n.t "new_user_error_message" %>
        </div>
    <% end %>
    <div class="page-header">
      <h2><%= I18n.t "user_new_title" %>
        <small><%= I18n.t "user_new_sub_title" %></small>
      </h2>
    </div>
    <%= render 'form' %>
    <div class="text-center">
      <%= link_to "返回", users_path, {class: "btn btn-default"} %>
    </div>
  </div>
</div>