
<div class="container">

  <div class="hero-unit" id="user_new_container">
    <% if current_is_login? %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Warning!</strong> <%= I18n.t "new_user_error_message" %>
        </div>
    <% end %>
    <div class="page-header">
      <h2><%= I18n.t "user_new_title" %>
        <small><%= I18n.t "user_new_sub_title" %></small>
      </h2>
    </div>
    <%= render 'form' %>
    <div class="row">
      <div class="span6 offset1">
        <div class="span2 offset2">
          <%= link_to I18n.t("back_btn"), users_path, {class: "btn btn-primary"} %>
        </div>
      </div>
    </div>
  </div>
</div>