<div class="container jumbotron">
  <div class="hero-unit" id="life_detail_container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <h2 class="text-center span8 offset1"><%= I18n.t "life_post.life_edit" %></h2>
    </div>
    <%= render 'form' %>
    <div class="text-center">
      <%= link_to I18n.t("show_btn"), @life_post, {class: "btn btn-default"} %>
      <%= link_to "返回", life_posts_path, {class: "btn btn-default"} %>
    </div>
  </div>
</div>

