<%= form_for(@admin_panel) do |f| %>
  <% if @admin_panel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_panel.errors.count, "error") %> prohibited this admin_panel from being saved:</h2>

      <ul>
      <% @admin_panel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
